@{
    ViewData["Title"] = "Home Page - Backend1";
}

    <h1>
        Calc service demonstration
    </h1>
    <ul>
        <li><a href = "/CalcService/PassUsingModel">Using Model Calc</a></li>
        <li><a href = "/CalcService/PassUsingViewData">Using ViewData Calc</a></li>
        <li><a href = "/CalcService/PassUsingViewBag">Using ViewBag Calc</a></li>
        <li><a href = "/CalcService/AccessServiceDirectly">Using Service Injection Calc</a></li>
    </ul>
